.ladu
{
background-image: url("https://st3.depositphotos.com/9943050/12848/i/950/depositphotos_128487344-stock-photo-woman-hand-writing-attendance-with.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position-x: 100%; 
}
