.notti
{
    background-image: url("https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%; 
   
}
