.hero
{
background-image: url("https://thumbs.dreamstime.com/b/back-to-school-hero-header-education-background-57244681.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position-x: 100%;
}
.bobby
{
background-color: blue
}
