
        <div class="container">
            <div id="demo" class="carousel slide" data-ride="carousel">
            
              
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
              </ul>  
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/a1.jpg" alt="a" width="1100" height="500">
                </div>
                <div class="carousel-item">
                  <img src="assets/a2.webp" alt="b" width="1100" height="500">
                </div>
                <div class="carousel-item">
                  <img src="assets/a3.jpg" alt="c" width="1100" height="500">
                </div>
                <div class="carousel-item">
                  <img src="assets/a4.png" alt="d" width="1100" height="500">
                </div>
              </div>
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
            <div class="row mt-5">
              <div class="col-sm">
            <div class="card">
              <div class="card-header  bobby">
           <h3 class="text-center text-danger">MODAL SCHOOL  SCHEME  AIM </h3>
          </div>
        
          <div class="card-body hero">
               <ul class="text-info text-dark">
                 <li>To have at least one good quality senior secondary school in every block.</li>
                  <li>To have a pace setting role</li>
                  <li> To try out innovative curriculum and pedagogy</li>
                  <li>To be a model in infrastructure, curriculum, evaluation and school governance</li>
                  <li>To play a pace setting role in EBBs.
                  <li>To Provide holistic education through curricular and co-curricular activities to the students.</li>
                  <li>To develop communicative skills.
                 <li>To assess and monitor student learning by implementing Continuous and comprehensive Evaluation (CCE).</li>
                <li>  To Sustain the girls' enrolment by providing girls' 
                 
                  
                </ul>
          </div>
        
          <div class="card-footer">
            <div class=" card-deck">
              <div class="card">
                <div class="card-header ">
                  <h2 class="text-center text-primary "> AWARDS  </h2>
                </div>
                <div class="card-body text-center text-secondary">
                   3 times back to back Excellence Award in 
                   <div>
                     2017<br>2018<br>2019
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h3 class="text-success"> TRANSFORMING LIFE THROUGH </h3>
                </div>
                <div class="card-body text-center text-secondary yoga">
                  Vidya – Modern Education<br>
                  Sadvidya – Traditional Education<br>
                  Brahmavidya – Spiritual Education<br>
                </div>
                
                
              </div>
              <div class="card">
                  <div class="card-header">
                      <h2 class="text-warning"> ACTIVITIES </h2>
                    </div>
                    <div class="card-body text-center text-secondary">
                      YOGA<br>
                      GAMES<br>
                      GROUP-DISCUSSIONS<br>
                    </div>
              </div>

            </div>
          </div>
          <div class="card">
            <div class="card-body text-center text-danger bg-warning">
              <h2>contact us</h2>
              <h3>#10-2-249/250,GVR's Lakshmi Nivas<br>Street No. 6, West Marredpally<br>Secunderabad-500026 , Call: +91 40 6633 7733</h3>
            
          </div>
          </div>
        </div>
        
          </div>
            </div>
        </div>
