body
{
background-image: url("https://images.unsplash.com/photo-1555885457-8cb63c8a576c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
background-repeat: no-repeat;
background-size: cover;
background-position-x: 100%; 
}
