<body>
  <div class="container ">

    <div class="row">

      <div class="col-md-12">

        <form #ref="ngForm" (ngSubmit)="onSubmit(ref.value)" class="form-signin">

          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h2 class=" text-center"> Log In</h2>
                  <label *ngIf="ref1.invalid && (ref1.dirty || ref1.untouched )">
                      <div class="text-danger"> *select user  </div>
                    </label>
                
                  <div class=" row">

                    <div class="col-md-6 text-center">
                       
                      <div class="form-check">
                     
                        <input style="width:20px; height:20px;" type="radio" class="form-check-input" value="admin"
                          id="z" name="user"  ngModel #ref1="ngModel" required>
                        <label class="form-check-lable" for="z">
                          <h4 style="padding-left: 20px;padding-top: 3px; ">ADMIN </h4>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-6 text-center">
                      <div class="form-check">
                        <input style="width:20px; height:20px;" type="radio" class="form-check-input" value="student"
                          id="y" name="user" ngModel #ref1="ngModel" required>
                        <label class="form-check-lable" for="y">
                          <h4 style="padding-left: 20px;padding-top: 3px; ">STUDENT </h4>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="email" id="t" class="form-control" placeholder="USER NAME" name="rollnumber" ngModel
                      #ref2="ngModel" required>
                    <label for="t">User name</label> <br>
                    <label *ngIf="ref2.invalid && (ref2.dirty || ref2.touched )">
                      <div class="text-danger"> *this field is mandatory </div>
                    </label>
                  </div>

                  <div class="form-group">
                    <input type="password" id="Password" class="form-control" placeholder="PASSWORD" name="password"
                      #ref3="ngModel" required ngModel>
                    <label for="Password">Password</label> <br>
                    <label *ngIf="ref3.invalid && (ref3.dirty || ref3.touched )">
                      <div class="text-danger"> *this field is mandatory </div>
                    </label>
                  </div>
                  <div class="row mb-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                      <a routerLink="/home/forgotpassword">Forgotpassword?</a>
                    </div>
                    <div class="col-md-2"></div>
                    

                  </div>

                  <!-- <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                  </div> -->
                  <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit">Log in</button>
                  <!-- <hr class="my-4">
                  <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                      class="fab fa-google mr-2"></i> Sign in with Google</button>
                  <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                      class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->

                </div>
              </div>
            </div>
          </div>
</form>
  <router-outlet></router-outlet>
      </div>
      <div cool-md-3></div>
    </div>
  </div>
 
</body>



