.fees
{
background-image: url("https://previews.123rf.com/images/adiruch/adiruch1605/adiruch160500223/55978900-fees-businessman-drawing-landing-page-on-blurred-abstract-background.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position-x: 100%; 
}