<!-- <table class="table">
        <thead>
            <th>ROLLNUMBER</th>
            <th>STUDENT NAME</th>
            <th>CLASS</th>
           
        </thead>
        <tr *ngFor="let student of profile">
            <td>{{student.rollnumber}}</td>
            <td>{{student.studentname}}</td>
            <td>{{student.class}}</td>
        
        </tr>
    </table>
     -->
<div class="text-center profile">
    <ul *ngFor="let student of profile">
        <li class="nav-link"><b>ROLLNUMBER</b>
            <h2>{{student.rollnumber}}</h2>
        </li>
        <li class="nav-link"><b>STUDENT NAME</b>
            <h2>{{student.studentname}}</h2>
        </li>
        <li class="nav-link"><b>CLASS</b>
            <h2>{{student.class}}</h2>
        </li>

    </ul>
</div>