<!-- <table class="table">
        <thead>
            <th>ROLLNUMBER</th>
            <th>STUDENT NAME</th>
            <th>CLASS</th>
           
        </thead>
        <tr *ngFor="let student of profile">
            <td>{{student.rollnumber}}</td>
            <td>{{student.studentname}}</td>
            <td>{{student.class}}</td>
        
        </tr>
    </table>
     -->
<div class="text-center profile">
    <ul *ngFor="let student of profile">
        <li class="nav-link"><h3><b>ROLLNUMBER</b></h3>
            <h3>{{student.rollnumber}}</h3>
        </li>
        <li class="nav-link"> <h3><b>STUDENT NAME</b></h3>
            <h3>{{student.studentname}}</h3>
        </li>
        <li class="nav-link"><h3><b>CLASS</b></h3>
            <h3>{{student.class}}</h3>
        </li>
        <li class="nav-link"><h3><b>GMAIL</b></h3>
            <h3>{{student.gmail}}</h3>
        </li>
        <li class="nav-link"><h3><b>MOBILE NUMBER</b></h3>
            <h3>{{student.phnumber}}</h3>
        </li>
  </ul>
</div>